Считаем файл и запишем в переменную `dann` данные файла

In [41]:
dann <- read.csv2("withNA.csv", stringsAsFactors=TRUE)

In [42]:
dann

   Kl X   Y    Z    Gr
1  a  0.2  5.0  5.0 I
2  a  0.4  8.1  8.1 II
3  b   NA 18.1 18.1 I
4  c  0.8 13.6 13.6 III
5  b  1.2 19.2 19.2 I
6  a  1.2   NA   NA II
7  c  1.7  5.9  6.1 I
8  c  1.9 15.4 15.5 II
9  b  1.9  1.1  2.2 III
10 a  2.1   NA 10.8 III

In [43]:
str(dann)

'data.frame':	10 obs. of  5 variables:
 $ Kl: Factor w/ 3 levels "a","b","c": 1 1 2 3 2 1 3 3 2 1
 $ X : num  0.2 0.4 NA 0.8 1.2 1.2 1.7 1.9 1.9 2.1
 $ Y : num  5 8.1 18.1 13.6 19.2 NA 5.9 15.4 1.1 NA
 $ Z : num  5 8.1 18.1 13.6 19.2 NA 6.1 15.5 2.2 10.8
 $ Gr: Factor w/ 3 levels "I","II","III": 1 2 1 3 1 2 1 2 3 3

разабъем таблицу данных `dann[2:4]` на отдельные наборы данных,

группируем по первому и последнему столбцу `dann[c(1, 5)]`

пропуски заменяем средним значением применив функцию `mean`

In [44]:
means <- aggregate(x=dann[2:4], by=dann[c(1,5)], FUN=mean, na.rm=T)

In [45]:
means

  Kl Gr  X   Y     Z
1 a  I   0.2  5.00  5.00
2 b  I   1.2 18.65 18.65
3 c  I   1.7  5.90  6.10
4 a  II  0.8  8.10  8.10
5 c  II  1.9 15.40 15.50
6 a  III 2.1   NaN 10.80
7 b  III 1.9  1.10  2.20
8 c  III 0.8 13.60 13.60

Не все пропущенные знечения смогли заменить средним

In [52]:
any(is.na(means))

[1] TRUE

объеденим первый и последний столбец(наши факторные значения). Получим только один фактор столбец и дадим ему название categ

In [53]:
mmm<-cbind(categ=paste0(means[, 1], means[, 2]) ,means[3:5], stringsAsFactors=TRUE)

In [54]:
mmm

  categ X   Y     Z
1 aI    0.2  5.00  5.00
2 bI    1.2 18.65 18.65
3 cI    1.7  5.90  6.10
4 aII   0.8  8.10  8.10
5 cII   1.9 15.40 15.50
6 aIII  2.1   NaN 10.80
7 bIII  1.9  1.10  2.20
8 cIII  0.8 13.60 13.60

сделаем сортировку по столбцу categ

In [55]:
mmm <- mmm[order(mmm[, 1]), ]

In [56]:
mmm

  categ X   Y     Z
1 aI    0.2  5.00  5.00
4 aII   0.8  8.10  8.10
6 aIII  2.1   NaN 10.80
2 bI    1.2 18.65 18.65
7 bIII  1.9  1.10  2.20
3 cI    1.7  5.90  6.10
5 cII   1.9 15.40 15.50
8 cIII  0.8 13.60 13.60

В первоначальной таблице было 10 объетов, а в таблице `mmm` содержится только 8 объектов.

Вернем потерянные объекты.

Запишем результат в `dann_m`.

In [57]:
dann_m <- mmm[as.factor(paste0(dann[,1], dann[,5])), ]

In [58]:
dann_m

    categ X   Y     Z
1   aI    0.2  5.00  5.00
4   aII   0.8  8.10  8.10
2   bI    1.2 18.65 18.65
8   cIII  0.8 13.60 13.60
2.1 bI    1.2 18.65 18.65
4.1 aII   0.8  8.10  8.10
3   cI    1.7  5.90  6.10
5   cII   1.9 15.40 15.50
7   bIII  1.9  1.10  2.20
6   aIII  2.1   NaN 10.80