# Задание 1
Любым удобным для вас способом создайте dataframe c именем my_data, в котором две колонки c именами (type - строки, value - целые числа) и четыре наблюдения в каждой колонке

In [1]:
import pandas as pd
import numpy as np

In [2]:
from dataclasses import make_dataclass

Point = make_dataclass("Point", [("type", str), ("value", int)])
my_data = pd.DataFrame([Point('A', 10), Point('A', 14), Point('B', 12), Point('B', 23)])
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [3]:
d = {'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]}
my_data = pd.DataFrame(data=d)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

# Задание 2

Особенно важный навык при работе с данными - это умение быстро и эффективно отбирать нужные вам колонки или строки.

Начнем с простого, в dataframe с именем my_stat сохранено 20 строк и четыре колонки (V1, V2, V3, V4):

В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

Помните, что нумерация индексов строк и колонок начинается с 0.

Обратите внимание, получившиеся subset_1 и subset_2 - тоже должны быть dataframe.

Вы можете скачать набор данных, которые нам также пригодятся в следующих заданиях,  и потренироваться у себя на компьютере. Чтобы считать данные при помощи pandas, используйте функцию read_csv.

```python
import pandas as pd

my_stat = pd.read_csv('my_stat.csv')
```

Важно [понимать](https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different), в чем разница между pandas loc и iloc. Как отобрать все строки [кроме](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) указанных? Умение [искать](https://stackoverflow.com/questions/28256761/select-pandas-rows-by-excluding-index-number) ответы поможет вам на начальных этапах знакомства с pandas!

In [4]:
my_stat = pd.read_csv('data/my_stat.csv')
my_stat

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
4     0  10.0  B -1.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[500 rows x 4 columns]

In [5]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_2 = my_stat.iloc[:, [1, 3]][~my_stat.index.isin([1, 5])]
print(subset_1, '\n', subset_2)

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A
        V2   V4
0    13.0  1.0
2    11.0  0.0
3    11.0  2.0
4    10.0 -1.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]

In [6]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_2 = my_stat.iloc[:, [1, 3]].drop([0, 4])
print(subset_1, '\n', subset_2)

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A
        V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]

# Задача 3

Теперь потренируемся отбирать нужные нам наблюдения (строки), соответствующие некому условию. В dataframe с именем my_stat четыре колонки V1, V2, V3, V4:

В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.

В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

Как и в предыдущей задаче результат фильтрации - это тоже dataframe.

Фильтрацию данных можно осуществить разными способами, например [так](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) или [так](https://stackoverflow.com/questions/22086116/how-do-you-filter-pandas-dataframes-by-multiple-columns).

In [7]:
my_stat = pd.read_csv('data/my_stat.csv')

In [8]:
subset_1 = my_stat.query(" V1 > 0 & V3 == 'A' ")

subset_2 = my_stat.query("V2 != 10 | V4 >= 1")

In [50]:
# Профайлинг [] vs query

%timeit subset_1 = my_stat[(my_stat['V1'] > 0) & (my_stat['V3'] == 'A')]
%timeit subset_1 = my_stat.query("(V1 > 0) & (V3 == 'A')" )
%timeit subset_1 = my_stat.iloc[np.where((my_stat.V1.values>0)&(my_stat.V3.values=='A'))]
# 781 µs ± 63.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
# 2.12 ms ± 33.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
# 362 µs ± 25 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

%timeit subset_2 = my_stat[(my_stat['V2'] != 10) | (my_stat['V4'] >= 1)]
%timeit subset_2 = my_stat.query("(V2 != 10) & (V4 >= 1)" )
%timeit subset_2 = my_stat.iloc[np.where((my_stat.V2.values!=10)|(my_stat.V4.values>=1))]
# 730 µs ± 17.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
# 2.53 ms ± 149 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
# 355 µs ± 20.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

723 µs ± 28.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
2.16 ms ± 72.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
359 µs ± 22.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
743 µs ± 38.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
2.04 ms ± 20.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
352 µs ± 19.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# Задача 4

Теперь давайте преобразуем наши данные. В переменной my_stat лежат данные с которыми вам необходимо проделать следующее дейтвие. В этих данных (my_stat) создайте две новые переменных:

V5 = V1 + V4

V6 = натуральный логарифм переменной V2

[Где](https://numpy.org/doc/stable/reference/generated/numpy.log.html) найти натуральный логарифм?

In [9]:
my_stat['V5'] = my_stat.V1 + my_stat.V4
my_stat['V6'] = np.log(my_stat.V2)

In [10]:
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

# Задача

Отличная работа, закрепим еще пару важных вопросов и можно двигаться дальше.

Переменные V1, V2  ... такие имена никуда не годятся. С такими названиями легко запутаться в собственных данных и в результате ошибиться в расчетах.

[Переименуйте](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) колонки в данных  my_stat следующим образом:

V1 -> session_value

V2 -> group

V3 -> time

V4 -> n_users

In [11]:
my_stat = my_stat.rename(columns={"V1": "session_value", 
                                  "V2": "group", 
                                  "V3": "time", 
                                  "V4": "n_users"})

In [11]:
my_stat = pd.read_csv('data/my_stat.csv')

%timeit my_stat.columns = {'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}
%timeit my_stat.columns = ['session_value', 'group', 'time', 'n_users']
%timeit my_stat.rename(columns = {'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}, inplace=True)

97.6 µs ± 5.71 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
93.4 µs ± 846 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
296 µs ± 27.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# Задача

И напоследок давайте разберемся, как заменять наблюдения в данных.

В dataframe с именем my_stat сохранены данные с 4 колонками: session_value, group, time, n_users.  

В переменной session_value [замените](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) все пропущенные значения на нули.

В переменной n_users замените все отрицательные значения на [медианное](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html) значение переменной n_users (без учета отрицательных значений, разумеется).

Как получить медиану переменной n_users без учета отрицательных значений? Если не придумали решения, подсказка - ищите один из возможных ответов в задачах, которые мы уже решили.

Данные для тренировки.

In [12]:
my_stat_1 = pd.read_csv('data/my_stat_1.csv')
my_stat_1.head(7)

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5

In [13]:
values = {"session_value": 0}
my_stat_1 = my_stat_1.fillna(value=values)

md = my_stat_1.query("n_users > 0").n_users.median()
my_stat_1.n_users = my_stat_1.n_users.mask(my_stat_1.n_users < 0, md)

In [ ]:
# my_stat.loc[my_stat.n_users<0, 'n_users']=my_stat.query("n_users>=0").n_users.median()

# Задача

Чуть не забыли, никакой анализ данных не обходится без агрегации наблюдений. Напомню, в pandas с этим нам поможет связка  groupby + некоторое преобразование. Например:

```python
# число наблюдений в каждой группе
df.groupby('group_var').count()
```

Для того, что бы сгруппировать данные по нескольким переменным, используем список с нужными именами:

```python
df.groupby(['group_var_1', 'group_var_2']).count()
```

Обратите внимание, что при такой записи группирующие переменные станут индексами в итоговом dataframe, изучите справку по [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html), чтобы разобраться со всеми тонкостями группировки данных. Также функция count() применится ко всем колонкам, что не всегда является желанным результатом. Чтобы применить функцию только к нужной колонке в данных, можно использовать связку  groupby() + [agg()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html)

```python
my_stat.groupby('group').agg({'n_users': 'count'})
```

В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.

Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [14]:
my_stat = pd.read_csv('data/my_stat_1.csv')
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [15]:
mean_session_value_data = my_stat.groupby('group', as_index=False)\
    .aggregate(mean_session_value=('session_value', 'mean'))

In [16]:
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0

In [17]:
mean_session_value_data = my_stat.groupby('group', as_index=False).\
    agg({'session_value': 'mean'}).\
    rename(columns={'session_value': 'mean_session_value'})

In [18]:
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0