In [8]:
import pandas as pd

В файле torg.csv представлена выгрузка со склада интернет-магазина.

Обратите внимание на нестандартный разделитель!

Товаров какого цвета больше всего на складе?

In [15]:
df = pd.read_csv("torg.csv", sep=';')

In [16]:
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [26]:
df.groupby(['IP_PROP30']).count()

,IE_XML_ID,IE_NAME,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
IP_PROP30,,,,,,
azure,5,5,0,5,5,5
black,50,50,5,45,50,50
blue,20,20,5,15,20,20
brown,35,35,10,25,35,35
flowers,5,5,5,0,5,5
green,15,15,0,15,15,15
jeans,5,5,5,0,5,5
orangered,5,5,0,5,5,5
pink,20,20,5,15,20,20
purple,25,25,5,20,25,25
red,25,25,5,20,25,25
redblue,5,5,0,5,5,5
see,10,10,0,10,10,10
white,50,50,10,40,50,50

In [25]:
df['IP_PROP30'].value_counts()

white        50
black        50
brown        35
purple       25
red          25
pink         20
blue         20
green        15
see          10
jeans         5
azure         5
redblue       5
flowers       5
orangered     5
Name: IP_PROP30, dtype: int64

In [27]:
df_group = df[['IP_PROP30', 'CP_QUANTITY']].groupby('IP_PROP30')
print(df_group.sum().idxmax())

CP_QUANTITY    black
dtype: object

В файле torg.csv представлена выгрузка со склада интернет-магазина.

Сгруппируйте размеры представленных товаров по суммарному количеству единиц товара на складе.

Учитывайте, что результат группировки (после применения итоговой функции) - обычный датафрейм, т.е. к нему применимы все обычные функции, например, https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

Отсортируйте размеры по увеличению остатков на складе.

Если товаров одного размера одинаковое количество, то размеры сортируются "лексикографически" (да, мы не будем морочиться)

In [40]:
df1 = df[['IP_PROP32', 'CP_QUANTITY']].groupby(['IP_PROP32']).sum()
df1.sort_values(by='CP_QUANTITY')

           CP_QUANTITY
IP_PROP32
M                 4198
S                 4198
XS                4299
L                 4397
XL                4399

В этом задании представлена выгрузка складских остатков (выгрузка отличается от ранее представленной тем, что при каждом решении генерируется новая выгрузка из 200 позиций).

Найдите суммарную стоимость всех розовых (pink) вещей большого размера (XL).

Учитывайте, что цена указана за 1 единицу товара.

In [66]:
df = pd.read_csv('dataset_345422_8.txt', sep=';')
df = df[df['IP_PROP30']=='pink']
df = df[df['IP_PROP32']=='XL']
m = df['CP_QUANTITY']*df['CR_PRICE_1_USD']
m.sum()

5479.0

In [60]:
df = pd.read_csv('dataset_345422_8.txt', sep=';', index_col=0)
df['cost'] = df.CP_QUANTITY * df.CR_PRICE_1_USD
print(df.groupby(['IP_PROP30', 'IP_PROP32']).cost.sum().loc['pink', 'XL'])

5479.0

В файле StudentsPerformance.csv представлен фрагмент выгрузки об абитуриентах. Информация разбита на категории:

- gender — пол абитуриента  (female - женщина, male - мужчина);
- race/ethnicity — национальность (зашифрована в виде значений "group A", "group B" и т.д.);
- parental level of education — уровень образования родителей;
- lunch — насколько качественно пообедал абитуриент перед тестом;
- test preparation course — закончил ли абитуриент подготовительные курсы;
- math score — оценка по математике;
- reading score — оценка по чтению;
- writing score — оценка по письму.

Каково максимальное медианное значение оценки по чтению у групп, разделенных по признаку "пол абитуриента" и "национальность" ?

In [67]:
df = pd.read_csv("https://stepik.org/media/attachments/lesson/345422/StudentsPerformance.csv")

In [80]:
group = df.groupby(['gender', 'race/ethnicity'])
print(group['reading score'].median().max())

76.0

Продолжаем работать с датасетом StudentsPerformance.csv

Какое среднее значение оценок по всем предметам у мальчиков из такой же группы с уровнем образования как у родителей девочек, получивших максимальную среднюю оценку по всем предметам?

Ответ округлите до одного знака после запятой.

In [87]:
# создаем колонку со средними значениями по всем предметам у каждого ученика, 
# axis=1 - сложение по значениям столбцов каждого ученика
df['cost'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)

# отбираем девочек, группируем по учебным заведениям родителей девочек и агрегируем по столбцу среднего балла, 
# находим средний балл для данной группировки. Есть указать внутри groupby(...., as_index=False),
# столбец останется столбцом, не став индексом
par_lv = df[df.gender == 'female'].groupby(['parental level of education']).aggregate({'cost':'mean'})

# получаем значение учебного заведения для которого максимален средний балл родителей девочек. 
# Обращаю внимание что при группировке столбец становится индексом, именно поэтому я достаю его методом 
# .idxmax()[0]. 
par_degree = par_lv.idxmax()[0]

# отбираем из датафрейма значения учебных заведений умных родителей девочек и мальчиков, 
# агрегируем по среднему баллу столбца cost
ans= df[(df['parental level of education'] == par_degree) & (df.gender == 'male')].aggregate({'cost':'mean'})

# округляем и выводим на печать
print(round(ans, 1))

cost    68.8
dtype: float64

Для этого задания используется случайно генерируемая выборка из 100 записей об использовании велодорожек Монреаля по датам. В выгрузке присутствуют данные только о 7 дорожках (в остальных пустые значения).

Посчитайте среднюю посещаемость каждой велодорожки отдельно по дням недели.

Какой день недели (в среднем) наиболее посещаем?

Используйте английские названия дней недели:

days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

Учитывайте, что в конкретной случайной выборке наиболее популярным может стать не только любой день недели, но и любая велодорожка!

Примечание. в этом уроке мы уже парсили датафрейм с датами. У объекта типа "дата" есть метод weekday(), который возвращает номер дня недели (число от 0 до 6).

In [97]:
df = pd.read_csv('dataset_345422_14.txt', parse_dates=['Date'],)

df['Date'] = pd.to_datetime(df['Date'])
# получим название недели
df = df.assign(weekday=df['Date'].dt.day_name())

# средняя посещаемость каждой велодорожки отдельно по дням недели
df_mean = df.groupby(by=['weekday']).mean()

df_sum = df_mean.sum(axis="columns")
df_sum.idxmax()

'Wednesday'

В файле football_players.csv представлен фрагмент выгрузки датасета о футболистах.

Посчитайте среднюю и медианную зарплату "Wage" футболистов из разных клубов "Club".

В скольких клубах средняя и медианная зарплаты совпадают?

In [99]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/345422/football_players.csv')

mn = df[['Club', 'Wage']].groupby('Club').mean()

med = df[['Club', 'Wage']].groupby('Club').median()

print(sum(mn.Wage == med.Wage))

52

In [100]:
df.groupby('Club')['Wage'].agg(lambda x: x.mean() == x.median()).sum()

52

На основе датасета dataset_file_storage.csv урока Визуализация данных с помощью Seaborn:

Посчитайте количество организаций (CompanyID), у которых суммарный объем файлов (FileSize) хотя бы одного проекта 

(ProjectID) превышает средний объем файлов по всем проектам.

Описание полей датасета:

- ProjectID (число) - id проекта в рамках которого загружен файл, привязка к элементам другой таблицы
- UserID (число) - id пользователя, загрузившего файл, привязка к элементам другой таблицы
- uploadServerUnixTime (число) - время загрузки файла на сервер в формате UnixTime
- CompanyID (число) - id организации которой принадлежит пользователь, привязка элемента другой таблицы
- FileSize (число) - размер файла в байтах
- TypeDocs (строка) - раздел в который загружен файл

In [105]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/313078/dataset_file_storage.csv', sep=';')

mean_sum = df.groupby(['ProjectID']).FileSize.sum().mean()

grp = df.groupby(['CompanyID', 'ProjectID'], as_index=False).FileSize.sum().rename(columns={'FileSize': 'volume'})

print(grp.query('volume > @mean_sum').CompanyID.nunique())

14

На какую сумму купили и оплатили носков любых видов (как мужских, так и женских)?

P.S. В рамках задачи гольфы != носки =)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

In [136]:
# считали данные
order_df = pd.read_csv('https://stepik.org/media/attachments/lesson/274304/orders.csv', sep=';') 
product_df = pd.read_csv('https://stepik.org/media/attachments/lesson/274304/Products.csv', sep=';')

# объеденили таблицы
df = pd.merge(order_df, product_df, how='inner', left_on=('ID товара'), right_on=('Product_ID'))

# отфильтровали по условию
paid_socks = df[(df["Name"].str.contains("Носки")) & (df["Оплачен"] == "Да")]

# посчитали на какую сумму оплатили носков
sum(paid_socks['Количество'] * paid_socks['Price'])

1389